<div>
  <h3>Details</h3>
</div>

<!--Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__block">
        <h4 class="footer__block__title">Office location</h4>
        <address class="footer__address">
          <div>L.Bedi 4  Kropotkina 228, Minsk, Belarus</div>
        </address>
      </div>

      <div class="footer__block">
        <h4 class="footer__block__title">social</h4>
        <div class="social">
          <a class="social__item" href="#" target="_blank">
            <img src="./src/assets/imj/vk.svg" height="18">
          </a>
          <a class="social__item" href="#" target="_blank">
            <img src="./src/assets/imj/github.svg" height="18">
          </a>
          <a class="social__item" href="#" target="_blank">
            <img src="./src/assets/imj/instagram.svg" height="18">
          </a>
        </div>
      </div>

      <div class="footer__block">
        <h4 class="footer__block__title">about</h4>
        <div class="footer__text">
          <p>STPIS - the first in Minsk online subscription service.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__contact">
    <div class="contact">
      <div class="social__item__phone" href="#" target="_blank">
        <img src="./src/assets/imj/phone-call.svg" height="18">
        375 (25) 992-86-02
      </div>
    </div>
  </div>
</footer>
